/*Need to escape the colon*/
path[inkscape\:label='ET'] {
   /* opacity:1;fill:#dbdbdb;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.25;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1; */
}

.highlight {
  fill: red;
  fill-opacity: 1;
}
